*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:montserrat;
}
body{
	background:lightblue;
}
.container{
	background:white;
	max-width:1000px;
	margin:60px auto;
	height:1250px;
	display:flex;
	
}
.img-area img{
	width:350px; height:300px;
}
.container h2{
	font-size:25px;
}
.header h2{
	margin-left:20px;
}
.header h3{
	margin-left:25px;
}
.header ul li{
	margin-left:10px;
	
}
.header ul li h3{
	margin-left:25px;
	font-size:25px;
}
.container .header{
	background:black;
	color:white;
	line-height:2;	
	align-items:center;
	
}
.container .header ul li{
	list-style:none;
	font-weight:bold;
}
.right h1{
	text-align:left;
	align-items:left;
	background:yellow;
	height:200px;
	padding-top:80px;
	line-height:1;
	letter-spacing:2px;	
}
.right-side{
	line-height:2;
}
.right-side h2{
	font-size:25px;
	font-weight:bold;
	margin-left:30px;
}
.right-side p{
	margin-left:30px;
	font-size:20px;
}
.right-side ul li{
	margin-left:45px;
	list-style-type:circle;
	line-height:3;
	font-size:20px;
}
.right-side h3,meter{
	
	line-height:2;
	margin-left:30px;
	display:inline-block;
	width:300px;
}

